<ion-view view-title="{{ad.title}}" class="view-ad">
	
	<ion-nav-title>{{ad.title}}</ion-nav-title>
	
	<ion-content >			
		<div class="ad-image">	
			<ion-slide-box>
				<ion-slide ng-repeat="image in ad.banners">
					<div class="overlay"></div>
					<div class="image" style="background-image: url({{image.url}})"></div>
				</ion-slide>
			</ion-slide-box>
		</div>		
		<div class="ad-info">
	  		<div class="categories-list">  		
				<div class="categories-item" ng-repeat="category in ad.categories"><i class="{{category.icon}}" style="background-color: {{category.color}};"></i></div>
			</div>
			<h4>{{ad.title}}</h4>
			<h5>{{ad.address}} - {{ad.phone}}</h5>
		</div>	
		<p>{{ad.description}}</p>
		<div class="ad-map-actions">
			<button class="button button-small button-outline button-calm pull-left">
				&nbsp;&nbsp;<i class="ion-home"></i>&nbsp;&nbsp; Sitio web&nbsp;&nbsp;
			</button>
			<button class="button button-small button-calm">
				&nbsp;&nbsp;<i class="ion-location"></i>&nbsp;&nbsp; ¿Cómo llegar?&nbsp;&nbsp;
			</button>
		</div>
		<leaflet center="map.center" markers="map.markers" defaults="map.defaults" height="200px"></leaflet>
	</ion-content>

</ion-view>
