<ion-view view-title="{{ad.title}}" class="view-ad">
	
	<ion-nav-bar class="bar bar-stable">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-android-arrow-back"></i>
		</ion-nav-back-button>		
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-ios-search-strong"></button>
		</ion-nav-buttons>
	</ion-nav-bar>


	
	<ion-content >			
		<div class="ad-image">	
			<ion-slide-box>
				<ion-slide ng-repeat="image in ad.banners">
					<div class="overlay"></div>
					<div class="image" style="background-image: url({{image.url}})"></div>
				</ion-slide>
			</ion-slide-box>
		</div>		
		<div class="ad-info positive-bg">
	  		<div class="categories-list">  		
				<div class="categories-item" ng-repeat="category in ad.categories"><i class="{{category.icon}}" style="background-color: {{category.color}};"></i></div>
			</div>
			<h4>{{ad.title}}</h4>
			<h5>{{ad.address}} - {{ad.phone}}</h5>
		</div>	
		<div class="ad-catinfo">
			<span  ng-repeat="category in ad.categories">{{category.name}}</span>
		</div>
		<p>{{ad.description}}</p>
		<div class="ad-map-actions">
			<button class="button button-small button-outline button-calm pull-left">
				<i class="ion-home"></i>Sitio web
			</button>
			<button class="button button-small button-calm">
				<i class="ion-location"></i>¿Cómo llegar?
			</button>
		</div>
		<leaflet center="map.center" markers="map.markers" defaults="map.defaults" height="200px"></leaflet>
	</ion-content>

</ion-view>
