<ion-view view-title="Categorías" class="view-categories">

	<ion-nav-bar class="bar bar-positive">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>
		</ion-nav-back-button>
		<ion-nav-title ng-click="goCategory()"></ion-nav-title>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-ios-search-strong"></button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-header-bar  class="bar-subheader bar-positive">	
		<h2 class="title">{{name}}</h2>
	</ion-header-bar>

	<ion-content >	

	</ion-content>

</ion-view>
