<ion-view class="view-categories stable-bg">
	
	<ion-nav-title >Anuncios</ion-nav-title>

	<ion-spinner ng-show="loading_category_ads || loading_categories" class="full"></ion-spinner>

	<ion-header-bar  class="bar-subheader bar-stable">			
		<h2 class="title" >
			<div ng-hide="mainScreen">	
				<span  class="parent all" ng-click="goCategory()"><i class="ion-grid"></i><i class="ion-ios-arrow-right"></i></span>				
				<span class="parent" ng-if="parentCategory.id" ng-click="goCategory(parentCategory.id)">
					{{parentCategory.name}}
					<i class="ion-ios-arrow-right"></i>
				</span>
				{{category.name}}
			</div>
			<div ng-show="mainScreen">Todas las categorías</div>
		</h2>
	</ion-header-bar>

	<ion-content>			
		<div class="home-categories">  					
			<div class='row' ng-repeat="category in childrenCategories track by $index" ng-if="$index%2==0">
				<div class="col col-50" ng-if="(childrenCategories[$index] != null)" ng-click="goCategory(childrenCategories[$index].id)" >
					<div class="frame" style=" background-color: {{childrenCategories[$index].color}}">
						<div class="image"  lazy-image-background="{{childrenCategories[$index].banners[0].url}}" lazy-image-opacity=".9">
							<i class="{{childrenCategories[$index].icon}}"></i>
							<h3 style="border-top-color:  {{childrenCategories[$index].color}}"> {{childrenCategories[$index].name}}</h3>
						</div>
					</div>
				</div>
				<div class="col col-50" ng-if="(childrenCategories[$index+1] != null)"  ng-click="goCategory(childrenCategories[$index+1].id)">
					<div class="frame" style=" background-color: {{childrenCategories[$index+1].color}}">
						<div class="image"  lazy-image-background="{{childrenCategories[$index+1].banners[0].url}}" lazy-image-opacity=".9">
							<i class="{{childrenCategories[$index+1].icon}}"></i>
							<h3 style="border-top-color:  {{childrenCategories[$index+1].color}}">{{childrenCategories[$index+1].name}}</h3>
						</div>
					</div>
				</div>				
			 </div>
		</div>
		
		<div class="home-categories banner" ng-if="showBanner" style="background-color: {{category.color}};"> 
			<div class="image image-loader" style="background-color: rgba(255,255,255,.2)"  lazy-image-background="{{category.banners[0].url}}">
				<i class="{{category.icon}}" style="background-color: {{category.color}};"></i>
				<h3 style="background-color: {{category.color}}">{{category.name}}</h3>
			</div>
		</div>		
		<ion-list type="" class="ad-list">
			<ion-item ng-repeat="ad in ads" class="item-thumbnail-left" ng-click="goAd(ad)">
				<div class="image image-loader" lazy-image-background="{{ad.banners[0].url}}"></div>
				<h2>{{ad.place_name}}<span class="distance">25km</span></h2>
				<h3>{{ad.address}}</h3>
    				<p>{{ad.description_short}}</p>	
    				<span class="badge badge-assertive" ng-show="ad.nuevo">Nuevo</span>	
			</ion-item>
		</ion-list>

	</ion-content>

</ion-view>
