<ion-view view-title="Categorías" class="view-categories">

	<ion-nav-bar class="bar bar-positive">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-android-arrow-back"></i>
		</ion-nav-back-button>
		<ion-nav-title ng-click="goCategory(2)"></ion-nav-title>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-ios-search-strong"></button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-header-bar  class="bar-subheader bar-positive">	
		<h2 class="title"><span class="parent" ng-if="parentCategory.id" ng-click="goCategory(parentCategory.id)">{{parentCategory.name}}<i class="ion-ios-arrow-right"></i></span>{{category.name}}</h2>
	</ion-header-bar>

	<ion-content >	
  		<div class="categories-list big">  		
			<div class='row' ng-repeat="child in childrenCategories track by $index" ng-if="$index%2==0">
				<div class="col" ng-if="(childrenCategories[$index] != null)" ng-click="goCategory(childrenCategories[$index].id)">
					<div class="categories-item"><i class="ion-fork" style="background-color: #92dd00;"></i><span>{{childrenCategories[$index].name}}</span></div>
				</div>
				<div class="col" ng-if="(childrenCategories[$index+1] != null)"  ng-click="goCategory(childrenCategories[$index+1].id)">
					<div class="categories-item"><i class="ion-fork" style="background-color: #92dd00;"></i><span>{{childrenCategories[$index+1].name}}</span></div>
				</div>
			 </div>
		</div>
	</ion-content>

</ion-view>
