<ion-view view-title="" class="view-home">
	<ion-nav-bar class="bar bar-clear">
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-ios-search-strong" ng-click="searchBoxShow()"></button>
		</ion-nav-buttons>
		<ion-pane class="bar-scroll stable-bg">
			<h1 class="title title-left">{{currentCity.city}}</h1>
		</ion-pane>
	</ion-nav-bar>

	<ion-content header-scroll-fade header-scroll-reference="header-city" header-scroll-header="bar-scroll">		
		<div class="header-city" lazy-image-background="{{currentCity.banners[0].url}}" >		
			<div class="overlay"></div>
			<h3>
				<img src="img/welcome-localia-logo.png" class="logo">
				<span>Tu guía en</span>
				{{currentCity.city}}
			</h3>
			<div class="bottom-line"></div>
		</div>
 
		<!-- <div class="section-buttons">
			<div class="row">
				<a class="col item item-icon-left" href="#/events"><i class="icon ion-calendar"></i><span class="badge badge-calm">0</span><h6>Agenda</h6>Próximos eventos</a>
				<a class="col item item-icon-left" href="#/places"><i class="icon ion-android-compass"></i><h6>Conocer</h6>Atracciones turísticas</a>
			</div>
		</div>-->


		<ion-list class="">
			<div class="item item-divider  item-icon-right "  ng-click="goPlace()">
				<span class="balanced">Atracciones turísticas<i class="icon ion-ios-plus-outline"></i></span>
			</div>
		</ion-list>
		<ion-spinner ng-show="loading_places"></ion-spinner>
		<ion-slide-box class="promotions" show-pager="true" does-continue="true" auto-play="true">
			<ion-slide ng-repeat="place in places"  ng-click="goPlace(place.id)">
				<div class="image" lazy-image-background="{{place.banners[0].url}}"></div>
				<div class="overlay"></div>
				<div class="info">
					<h1>{{place.title}}</h1>
					<p>{{place.address}}</p>					
					<!--<h2>{{place.description}}</h2>-->
				</div>
			</ion-slide>
		</ion-slide-box>


		<ion-list>
			<div class="item item-divider  item-icon-right stable-border"  ui-sref ="categories">
				<span class="stable">Directorio de anuncios<i class="icon ion-ios-plus-outline"></i></span>
			</div>
		</ion-list>				
		<div class="network-error dark center" ng-show="errorConnection" ng-click="getFeatured(true)">
			<i class="ion-refresh icon"></i>
			<p>No hay conexion a internet en este momento.</p>
		</div>
		<ion-spinner ng-show="loading_categories"></ion-spinner>
		<div class="home-categories" ng-hide="loading_categories">  		
			<div class='row' ng-repeat="category in featuredCategories track by $index" ng-if="$index%2==0">
				<div class="col" ng-if="(featuredCategories[$index] != null)" ng-click="goCategory(featuredCategories[$index].id)">
					<div class="frame" style=" background-color: {{featuredCategories[$index].color}}">
						<div class="image"  lazy-image-background="{{featuredCategories[$index].banners[0].url}}" lazy-image-opacity=".6">
							<i class="{{featuredCategories[$index].icon}}" ></i>
							<h3 style="border-top-color: {{featuredCategories[$index].color}}">{{featuredCategories[$index].name}}</h3>
						</div>
					</div>
				</div>
				<div class="col" ng-if="(featuredCategories[$index+1] != null)"  ng-click="goCategory(featuredCategories[$index+1].id)">
					<div class="frame"  style="background-color: {{featuredCategories[$index+1].color}}">
						<div class="image" lazy-image-background="{{featuredCategories[$index+1].banners[0].url}}" lazy-image-opacity=".6">
							<i class="{{featuredCategories[$index+1].icon}}"></i>
							<h3 style="border-top-color: {{featuredCategories[$index+1].color}}">{{featuredCategories[$index+1].name}}</h3>
						</div>
					</div>
				</div>
				<!--
				<div class="col" ng-if="(featuredCategories[$index+2] != null)"  ng-click="goCategory(featuredCategories[$index+2].id)">
					<div class="frame" style="background-color: {{featuredCategories[$index+2].color}}">
						<div class="image"lazy-image-background="{{featuredCategories[$index+2].banners[0].url}}" lazy-image-opacity=".5">
							<i class="{{featuredCategories[$index+2].icon}}" style="background-color: {{featuredCategories[$index+2].color}};"></i>
							<h3 style="background-color: {{featuredCategories[$index+2].color}}">{{featuredCategories[$index+2].name}}</h3>
						</div>
					</div>
				</div>
				-->
			 </div>
		</div>

		<div class="text-center" ng-hide="errorConnection || loading_categories">
			<br>
			<button ui-sref ="categories" class="button button-stable button-small">Más categorías...</button>
			<br>
			<br>
			<br>					
		</div>
		

	</ion-content>

</ion-view>
