<ion-view view-title="" class="view-home">

	<ion-nav-bar class="bar bar-clear">
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-ios-search-strong"></button>
		</ion-nav-buttons>
		<ion-pane class="bar-scroll positive-bg">
			<h1 class="title title-left">{{currentCityName}}</h1>
		</ion-pane>
	</ion-nav-bar>

	<ion-content header-scroll-fade header-scroll-reference="header-city" header-scroll-header="bar-scroll">		
		<div class="header-city">		
			<div class="overlay"></div>
			<h3>
				<span>Tu guía</span>
				{{currentCityName}}
			</h3>
			<div class="bottom-line"></div>
		</div>

		<div class="section-buttons">
			<div class="row">
				<a class="col item item-icon-left" href="#/events"><i class="icon ion-ios-calendar-outline"></i><span class="badge badge-calm">0</span><h6>Agenda</h6>Próximos eventos</a>
				<a class="col item item-icon-left" href="#/places"><i class="icon ion-ios-navigate-outline"></i><h6>Turismo</h6>Sitios para conocer</a>
			</div>
		</div>

		<ion-list class="">
			<div class="item item-divider  item-icon-right "  ng-click="goPromo()">
				<span class="calm">Promociones<i class="icon ion-ios-more"></i></span>
			</div>
		</ion-list>
		<ion-slide-box class="promotions" show-pager="false" does-continue="true" auto-play="true">
			<ion-slide ng-repeat="promo in promotions">
				<span class="due"><i class="icon-hot ion-ios-flame"></i> 20 Enero</span>
				<div class="image" style="background-image: url({{promo.banner.url}})"></div>
				<div class="overlay"></div>
				<div class="info">
					<p>{{promo.title}}</p>
					<h2>{{promo.promo_title}}</h2>
				</div>
			</ion-slide>
		</ion-slide-box>


		<ion-list>
			<div class="item item-divider  item-icon-right positive-border" ng-click="goCategory()">
				<span class="positive">Directorio de anuncios<i class="icon ion-ios-more"></i></span>
			</div>
		</ion-list>		


		<div class="home-categories">  		
			<div class='row' ng-repeat="category in featuredCategories track by $index" ng-if="$index%3==0">
				<div class="col" ng-if="(featuredCategories[$index] != null)" ng-click="goCategory(featuredCategories[$index].id)" style=" background-color: {{featuredCategories[$index].color}}">
					<div class="image" style="background-image: url({{featuredCategories[$index].banner.url}});">
						<i class="{{featuredCategories[$index].icon}}" style="background-color: {{featuredCategories[$index].color}};"></i>
						<h3 style="background-color: {{featuredCategories[$index].color}}">{{featuredCategories[$index].name}}</h3>
					</div>
				</div>
				<div class="col" ng-if="(featuredCategories[$index+1] != null)"  ng-click="goCategory(featuredCategories[$index+1].id)" style="background-color: {{featuredCategories[$index+1].color}}">
					<div class="image" style="background-image: url({{featuredCategories[$index+1].banner.url}}); ">
						<i class="{{featuredCategories[$index+1].icon}}" style="background-color: {{featuredCategories[$index+1].color}};"></i>
						<h3 style="background-color: {{featuredCategories[$index+1].color}}">{{featuredCategories[$index+1].name}}</h3>
					</div>
				</div>
				<div class="col" ng-if="(featuredCategories[$index+2] != null)"  ng-click="goCategory(featuredCategories[$index+2].id)" style="background-color: {{featuredCategories[$index+2].color}}">
					<div class="image" style="background-image: url({{featuredCategories[$index+2].banner.url}}); ">
						<i class="{{featuredCategories[$index+2].icon}}" style="background-color: {{featuredCategories[$index+2].color}};"></i>
						<h3 style="background-color: {{featuredCategories[$index+2].color}}">{{featuredCategories[$index+2].name}}</h3>
					</div>
				</div>
			 </div>
		</div>

		<div class="text-center">
			<br>
			<button class="button button-positive button-small">Más categorías...</button>
		</div>

		<!--
		<ion-slide-box class="home-categories" show-pager="false" does-continue="true" auto-play="true" slide-interval="7000">
			<ion-slide ng-repeat="category in featuredCategories track by $index">
				<div class="image" style="background-image: url({{category.banner.url}})">					
					<h2>{{category.name}}</h2>
					<div class="overlay"></div>
				</div>				
			</ion-slide>
		</ion-slide-box>

		<div class="categories-list">  		
			<div class='row' ng-repeat="category in featuredCategories track by $index" ng-if="$index%2==0">
				<div class="col" ng-if="(featuredCategories[$index] != null)" ng-click="goCategory(featuredCategories[$index].id)"><div class="categories-item"><i class="{{featuredCategories[$index].icon}}" style="background-color: {{featuredCategories[$index].color}};"></i><span>{{featuredCategories[$index].name}}</span></div></div>
				<div class="col" ng-if="(featuredCategories[$index+1] != null)"  ng-click="goCategory(featuredCategories[$index+1].id)"><div class="categories-item"><i class="{{featuredCategories[$index+1].icon}}" style="background-color: {{featuredCategories[$index+1].color}};"></i><span>{{featuredCategories[$index+1].name}}</span></div></div>
			 </div>
		</div>
		<div class="text-center">
			<button class="button button-outline button-positive button-small">Ver todas...</button>
		</div>
		-->

	</ion-content>

</ion-view>
