<ion-view view-title="" class="view-home">

	<ion-nav-bar class="bar bar-clear">
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-ios-search-strong"></button>
		</ion-nav-buttons>
		<ion-pane class="bar-scroll stable-bg">
			<h1 class="title title-left">{{currentCity.city}}</h1>
		</ion-pane>
	</ion-nav-bar>

	<ion-content header-scroll-fade header-scroll-reference="header-city" header-scroll-header="bar-scroll" >		
		<div class="header-city" style="background-image: url({{currentCity.banners[0].url}})">		
			<div class="overlay"></div>
			<h3>
				<img src="img/welcome-localia-logo.png" class="logo">
				<span>Tu guía en</span>
				{{currentCity.city}}
			</h3>
			<div class="bottom-line"></div>
		</div>
 
		<!-- <div class="section-buttons">
			<div class="row">
				<a class="col item item-icon-left" href="#/events"><i class="icon ion-calendar"></i><span class="badge badge-calm">0</span><h6>Agenda</h6>Próximos eventos</a>
				<a class="col item item-icon-left" href="#/places"><i class="icon ion-android-compass"></i><h6>Conocer</h6>Atracciones turísticas</a>
			</div>
		</div>-->


		<ion-list class="">
			<div class="item item-divider  item-icon-right "  ng-click="goPromo()">
				<span class="balanced">Atracciones turísticas<i class="icon ion-ios-more"></i></span>
			</div>
		</ion-list>
		<ion-slide-box class="promotions" show-pager="false" does-continue="true" auto-play="true">
			<ion-slide ng-repeat="promo in promotions" style="background-color: {{promo.categories[0].color}}">				
				<!--<div class="image" style="background-image: url({{promo.banner.url}})"></div>
				<div class="overlay"></div>-->
				<div class="category">				
					<i class="{{promo.categories[0].icon}}" style="background-color: {{promo.categories[0].color}}"></i>
					<p style="color: {{promo.categories[0].color}}">{{promo.categories[0].name}}</p>					
				</div>				
				<div class="info">
					<p>{{promo.title}}</p>					
					<h1 style="color: {{promo.categories[0].color}}">
						<!--<i class="icon-hot ion-ios-flame"></i>-->
						{{promo.promo_title}}
					</h1>
					<h2>{{promo.promo_text}}</h2>
				</div>
			</ion-slide>
		</ion-slide-box>


		<ion-list>
			<div class="item item-divider  item-icon-right stable-border"  ui-sref ="categories">
				<span class="stable">Directorio de anuncios<i class="icon ion-ios-more"></i></span>
			</div>
		</ion-list>				
		<div class="network-error dark center" ng-show="errorConnection" ng-click="getFeatured(true)">
			<i class="ion-refresh icon"></i>
			<p>No hay conexion a internet en este momento.</p>
		</div>
		<div class="home-categories">  		
			<ion-spinner ng-show="loading_categories"></ion-spinner>
			<div class='row' ng-repeat="category in featuredCategories track by $index" ng-if="$index%3==0">
				<div class="col" ng-if="(featuredCategories[$index] != null)" ng-click="goCategory(featuredCategories[$index].id)">
					<div class="frame" style=" background-color: {{featuredCategories[$index].color}}">
						<div class="image" style="background-image: url({{featuredCategories[$index].banner.url}});">
							<i class="{{featuredCategories[$index].icon}}" style="background-color: {{featuredCategories[$index].color}};"></i>
							<h3 style="background-color: {{featuredCategories[$index].color}}">{{featuredCategories[$index].name}}</h3>
						</div>
					</div>
				</div>
				<div class="col" ng-if="(featuredCategories[$index+1] != null)"  ng-click="goCategory(featuredCategories[$index+1].id)">
					<div class="frame"  style="background-color: {{featuredCategories[$index+1].color}}">
						<div class="image" style="background-image: url({{featuredCategories[$index+1].banner.url}}); ">
							<i class="{{featuredCategories[$index+1].icon}}" style="background-color: {{featuredCategories[$index+1].color}};"></i>
							<h3 style="background-color: {{featuredCategories[$index+1].color}}">{{featuredCategories[$index+1].name}}</h3>
						</div>
					</div>
				</div>
				<div class="col" ng-if="(featuredCategories[$index+2] != null)"  ng-click="goCategory(featuredCategories[$index+2].id)">
					<div class="frame" style="background-color: {{featuredCategories[$index+2].color}}">
						<div class="image" style="background-image: url({{featuredCategories[$index+2].banner.url}}); ">
							<i class="{{featuredCategories[$index+2].icon}}" style="background-color: {{featuredCategories[$index+2].color}};"></i>
							<h3 style="background-color: {{featuredCategories[$index+2].color}}">{{featuredCategories[$index+2].name}}</h3>
						</div>
					</div>
				</div>
			 </div>
		</div>

		<div class="text-center" ng-hide="errorConnection || loading_categories">
			<br>
			<button ui-sref ="categories" class="button button-stable button-small">Más categorías...</button>
			<br>
			<br>
			<br>					
		</div>
		

	</ion-content>

</ion-view>
