@font-face {
    font-family: 'Asap';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/AsapRegular.eot');
    src: url('fonts/AsapRegular.eot') format('embedded-opentype'),
         url('fonts/AsapRegular.woff2') format('woff2'),
         url('fonts/AsapRegular.woff') format('woff'),
         url('fonts/AsapRegular.ttf') format('truetype'),
         url('fotns/AsapRegular.svg#AsapRegular') format('svg');
}

@font-face {
    font-family: 'Asap';
    font-weight: 400;
    font-style: italic;
    src: url('fonts/AsapItalic.eot');
    src: url('fonts/AsapItalic.eot') format('embedded-opentype'),
         url('fonts/AsapItalic.woff2') format('woff2'),
         url('fonts/AsapItalic.woff') format('woff'),
         url('fonts/AsapItalic.ttf') format('truetype'),
         url('fotns/AsapItalic.svg#AsapItalic') format('svg');
}

@font-face {	
    font-family: 'Asap';
    font-weight: 800;
    font-style: normal;
    src: url('fonts/AsapBold.eot');
    src: url('fonts/AsapBold.eot') format('embedded-opentype'),
         url('fonts/AsapBold.woff2') format('woff2'),
         url('fonts/AsapBold.woff') format('woff'),
         url('fonts/AsapBold.ttf') format('truetype'),
         url('fotns/AsapBold.svg#AsapBold') format('svg');
}

@font-face {
    font-family: 'Asap';
    font-weight: 800;
    font-style: italic;
    src: url('fonts/AsapBoldItalic.eot');
    src: url('fonts/AsapBoldItalic.eot') format('embedded-opentype'),
         url('fonts/AsapBoldItalic.woff2') format('woff2'),
         url('fonts/AsapBoldItalic.woff') format('woff'),
         url('fonts/AsapBoldItalic.ttf') format('truetype'),
         url('fotns/AsapBoldItalic.svg#AsapBoldItalic') format('svg');
}
