/*### GLOBALS */
body {
	font-family: 'Asap';
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Asap';	
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.item {
	letter-spacing: -1px;
	color: #666;
}
.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
	font-size: 28px;
	line-height: 32px;
}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
	font-size: 28px;
	line-height: 32px;
} 
.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
	right: 8px;
	top: 8px;
}
.bar {
	height: 46px;
	padding: 8px;
}
.bar .title {
	line-height: 48px;
	font-size: 18px;
}
.grade-b .menu-content, .grade-c .menu-content {
	border-color: #eee;
}
.list a {
	text-decoration: none;
	color: inherit;
}
.list .item-divider {
	text-transform: uppercase;
	font-size: 13px;
}



/* COLORES Y ESTILOS */
.button {
	border: 0; 
}
.bar.bar-positive {
	background-color: #F55F49;
}
.positive-border {
	border-color: #F55F49;
}

/* Categories */
.categories-list {
	text-transform: uppercase;
	color: #777;	
}
.categories-list .categories-item { 
	padding: 5px;
	display: table;
}
.categories-list .categories-item i{
	vertical-align: middle;
    	display: table-cell;
    	width: 40px;
    	height: 40px;
    	text-align: center;
    	border-radius: 40px;
    	font-size: 24px;
    	color: #fff;
}
.categories-list .categories-item span{
	vertical-align: middle;
	display: table-cell;
	line-height: 100%;
	padding-left: 7px;
	font-size: 13px;
	letter-spacing: 0;
}
/* Big version*/
.categories-list.big  .categories-item i{
	font-size: 34px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.title .parent {
	color: rgba(255,255,255, .6);
	font-size: 17px; 
}
.title .parent i{
	margin: 0 6px;
	font-size: 24px;
	line-height: 20px;
	vertical-align: middle;
}

/*### SIDE MENU */
.menu {
	background-color: #F2F2F2;
}
.menu .bar-header {
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.menu .bar-header {
	height: 92px;
	background-color: #fbc02d;
	border-bottom: 3px solid #f4bb2c;
}

.menu a{
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 15px;
	border-left-style: solid;
	border-left-width: 4px;
}
.menu .title {
	padding-top: 15px;
	height: 92px;
	font-size: 16px;
	line-height: 30px
}
.menu .has-header {
	top: 92px;
}
.menu .subtitle {
	font-size: 20px;
	line-height: 32px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.menu .main-items .list {
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	z-index: 1000;
	border-bottom: 0;
}
.menu .main-items .list:last-child {
	border-bottom: 0;
}
.menu .list .icon{
	font-size: 25px;
	width: 31px;
	text-align: center;
	color: #bbb;
}
.menu .item {
	border-color: #eee;
	padding: 0;
}
.menu .item-divider{
	font-size: 13px;
	color: #888;
	font-weight: bold;
}
.menu .item-divider a{
	padding: 7px 14px;	
	border: 0;
}
.menu .categories-list .categories-item{	
	padding: 7px 15px; 	
	width: 100%;	
	background-color: transparent;
	border: 0;
}
.menu .categories-list .item-content{	
	background-color: transparent;
	border: 0;
	padding: 3px;
}


.menu label{
	background-color: transparent;
}
.menu input {
	background-color: transparent;
}
.menu .icon {
	font-size: 26px;
	padding-right: 10px;
}


/*### ESTILOS PORTADA */
.view-home .bar{
	background-color: rgba(255,255,255, 0) !important; 	
	border: 0;
	margin: 4px;
	width: auto;
}
.view-home .scroll-content {
	overflow: visible !important;
	margin-top: -45px;
}
.view-home .header-city {
	height: 220px;
	background-color: #8CE0F4;
	position: relative;
	background-image: url(../img/city-vgb.jpg); 
	background-size: cover;
}
.header-city h3 {
	font-family: 'Kaushan';
	font-size: 36px;
	letter-spacing: -1px;
	text-align: center;
	color: rgba(255,255,255,1);
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	text-shadow: 0 0 5px rgba(0,0,0,.7);
}
.header-city h3 span {
	font-size: 15px;
	padding-bottom:  13px;
	margin-bottom: 16px;
	border-bottom: 1px solid rgba(255,255,255,.7);
	font-family: 'Asap';	
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 40%;
	margin-left: 30%;
	text-shadow: none;
 }
.header-city .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,.7) 0%, rgba(0,0,0,.16) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,.7)), color-stop(100%,rgba(0,0,0,.16))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,.7) 0%,rgba(0,0,0,.16) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to top,  rgba(0,0,0,.7) 0%,rgba(0,0,0,.16) 100%); /* W3C */
}
.header-city  .bottom-line {
	height: 3px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100% 100%;
	background-image: url(../img/cityline-vgb.png);
}

.section-buttons {
	background-color: rgba(0,0,0,.05);
}
.section-buttons .badge {
	left: 28px;
	top: 10px;
	right: auto;
	height: 19px;
	width: 19px;
	font-size: 13px;
	padding: 2px 6px;
}
.section-buttons .col {
	padding: 13px 10px 13px 50px;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 14px;
	color: #aaa;
}
.section-buttons h6 {
	font-size: 14px;
	text-transform: uppercase;
	color: #666;
}
.section-buttons .item{
	background-color: transparent;
	border: 0; 
}
.section-buttons .icon {
	color: #888;
}
.view-home .list, .view-home .list .item {
	background-color: transparent;
	border: 0;
}

.view-home .promotions {
	height: 100px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.view-promotions .promotions .item {
	height: 100px;
	padding: 10px;
}
.view-promotions .promotions .item p{
	text-overflow: none; 
	white-space: normal; 
}
.view-promotions .promotions .info {
	top: 10px;
}
.promotions .slider-slide {
	background-color: #fff;
	position: relative;
}
.promotions .image{
	position: absolute;
	z-index: 35;
	left: 0;
	bottom: 0;
	top: 0; 
	width: 45%;
	background-size: cover;
	background-position: center;	
}
.promotions .info{ 
	position: absolute;
	z-index: 20;
	left: 48%;
	top: 0;
	bottom: 0;	
	right: 10px;
	overflow: hidden;
}
.promotions .info h2{ 
	font-size: 15px;
	color: #666;
	font-weight: bold;
	margin: 0;
}
.promotions .info p{
	color: #888;
	font-size: 13px;
	line-height: 14px;
	margin: 0;
	overflow: hidden;	
	letter-spacing: -1px;
}
.promotions .overlay {
	z-index: 30;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 30px;
	background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,.16) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba255,255,255,1), color-stop(50%,rgba(255,255,255,.16))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,.16) 50%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,.16) 50%); /* W3C */
}
.promotions .icon-hot {
	position: absolute;
	z-index: 40;
	height: 25px;
	width: 25px;
	display: inline-block;
	left: 0;
	top: 0;
	color: #fff;
	font-size: 16px;
	line-height: 21px;
	text-align: center;	
}

.promotions .due {
	position: absolute;
	z-index: 40;
	bottom: 0;
	left: 0;
	height: 23px;
	width: auto;
	display: block;
	background-color: #E93E0C;
	color: #fff;
	padding: 0 10px 0 22px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 23px;
	text-align: center;	
}


/* LISTADO DE ADS*/
.ad-list h2 {
	font-size: 16px;
	margin-top: 4px;
	margin-bottom: 0;
}
.ad-list h3 {
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 0 3px 0;
	color: #A1A1A1;
}
.ad-list .item-thumbnail-left, .ad-list  .item-thumbnail-left .item-content {
	padding-left: 133px;
	padding-bottom: 8px;
	position: relative;
}
.ad-list .item-thumbnail-left > img:first-child, .ad-list  .item-thumbnail-left .item-image, .ad-list .item-thumbnail-left .item-content > img:first-child, .ad-list .item-thumbnail-left .item-content .item-image {
	top: 0;
	left: 0;
	max-width: 120px;
	max-height: 120px;
}
.ad-list .item-thumbnail-left, .ad-list .item-thumbnail-left .item-content {
	min-height: 80px;
}
.ad-list .image {
	background-size: cover;
	background-position: center;
	width: 120px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;	
}

/* ADS */
.view-ad .ad-image{
	height: 180px;
	background-color: #ccc;
	position: relative;
}
.view-ad .ad-image .slider {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	height: 180px;
}
.view-ad .ad-image .slider .image{
	height: 180px;	
	background-size: cover;
	background-position: center;
}
.view-ad .ad-image .slider .overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,.5) 0%, rgba(0,0,0,.16) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,.5)), color-stop(50%,rgba(0,0,0,.16))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,.5) 0%,rgba(0,0,0,.16) 50%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to top,  rgba(0,0,0,.5) 0%,rgba(0,0,0,.16) 50%); /* W3C */
}
.view-ad .slider-pager .slider-pager-page {
	font-size: 11px;
	width: 10px;
	color: #fff;
	text-shadow: 0 0 2px rgba(0,0,0,.2);
}
.view-ad .slider-pager {
	text-align: left;
	padding-left: 15px;
}
.view-ad .ad-info{
	position: relative;
	padding: 10px;
	background-color: #f2f2f2;
	box-shadow: 0 -5px 5px rgba(0,0,0,.2);
}
.view-ad .ad-info h4{
	margin: 12px 0 0 0;
	font-size: 21px;
	letter-spacing: -1px;
	color: #43423D
}
.view-ad .ad-info h5{
	margin: 5px 0 10px;
	text-transform: uppercase;
	font-size: 13px;
	color: #5B5953;
}
.view-ad p{
	padding: 10px;
	color: #6B6861;
}
.view-ad .angular-leaflet-map {
	height: 160px;
	margin-bottom: 10px;
}
.view-ad .ad-map-actions{
	text-align: right;
	padding: 10px;
}
.view-ad .categories-list {
	position: absolute;
	right: 10px;
	top: -25px;
}
.view-ad .categories-list .categories-item{
	display: inline-block;
}



/* EVENTS */
.view-events  .item-body  {
	padding: 0;
}
.view-events  .item-body  .image {
	height: 150px;
	background-size: cover;
	background-position: center;	
	border-radius: 3px 4px 0 0;
}
.view-events  .item-body .fecha {
	font-size: 15px;
	color: #aaa;
	text-transform: uppercase;
	width: 30%;
	padding-left: 20px;
	text-align: center;	
	border-right: 1px solid #eee;
	float: left;
	position: relative;
	margin-top: 7px;
}
.view-events  .item-body .fecha h4{
	font-size: 40px;
	line-height: 80%;
	margin: 7px 0 0 0 ;
	color: #aaa;
	letter-spacing: -2px;
	font-weight: bold;	
}
.view-events  .item-body .fecha i {
	position: absolute;
	left: 10px;
	top: 50%;
	color: #ccc;
	margin-top: -13px;
	line-height: 26px;
	font-size: 26px;
}
.view-events  .item-body p {
	margin: 0;
	padding: 6px 12px 12px 10px;
	line-height: 16px;
	color: #999;	
	margin-left: 32%;
}
.view-events  .item-body p.title {
	color: #444;
	font-size: 18px;
	padding-top: 13px;
	padding-bottom: 0;
}



/* PLACES */
.view-places  .item-body  {
	padding: 0;
}
.view-places  .item-body  .image {
	height: 150px;
	background-size: cover;
	background-position: center;	
	border-radius: 3px 4px 0 0;
}
.view-places  .item-body  .overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 150px;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,.3) 0%, rgba(0,0,0,.16) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,.3)), color-stop(50%,rgba(0,0,0,.16))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,.3) 0%,rgba(0,0,0,.16) 50%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to top,  rgba(0,0,0,.3) 0%,rgba(0,0,0,.16) 50%); /* W3C */
}
.view-places  .item-body .icon{
	font-size: 25px;
	color: #aaa;	
	padding: 7px 20px;
}
.view-places  .item-body p {
	margin: 0;
	padding: 6px 12px 12px 10px;
	line-height: 16px;
	color: #999;	
}
.view-places  .item-body p.title {
	color: #fff;
	font-size: 20px;
	padding-top: 13px;
	padding-bottom: 25px	;
	margin-top: -45px;
	z-index: 1000;
	position: relative;
}