/*### GLOBALS */

body {
	font-family: 'Roboto';	
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto';	
}
input, button, select, textarea {
	font-family: 'Roboto';		
}



.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.item {
	letter-spacing: -1px;
	color: #666;
}
.item p{
	font-size: 15px;
	color: #888;
	line-height: 17px;
}
.item.activated {
	background-color: #f4f4f4;
	border-color: #f4f4f4;
}
.pane, .view {
	width: auto;
}
.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
	font-size: 28px;
	line-height: 30px;
}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
	font-size: 28px;
	line-height: 28px;
} 
.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
	right: 8px;
	top: 8px;
}
.bar {
	height: 46px;
	padding: 8px;
}
.bar .title {
	line-height: 48px;
	font-size: 18px;
	font-weight: 300;
}
.grade-b .menu-content, .grade-c .menu-content {
	border: 0;
	box-shadow: -4px 0 7px rgba(0, 0, 0, 0.17);
}
.list a {
	text-decoration: none;
	display: block;
}
.list .item-divider {
	text-transform: uppercase;
	font-size: 13px;
}
.button-small {
	padding: 2px 11px 1px;
}
.checkbox .checkbox-icon:before, .checkbox input:before {
	border-color: #ddd;
}
.popup-container .popup{
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.popup-title {
	font-size: 20px;
	color: #555;
}
.popup-sub-title {
	font-size: 14px;
	font-weight: 300;
	margin: 0;
}

.city-list-selector {
	max-height: 260px;
	position: relative;
}
.city-list-selector .item-radio {
	border-color: #eee;
}
/*
.city-list-selector .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%); 
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(255,255,255,1)), color-stop(10%,rgba(255,255,255,0))); 
	background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%); 
	background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%); 
}*/
.city-list-selector .item-radio .radio-icon {
	font-size: 30px;
	line-height: 30px;
	padding: 12px;
}

/* COLORES Y ESTILOS */
.bar {
	border: 0;
}
.button.button-small {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	line-height: 25px;
	border-radius: 2px;;
	padding: 3px 11px 1px;
}
.button.button-small i{
	font-size: 20px;
	margin-right: 7px;
	margin-left: 3px;
	line-height: 25px;
	vertical-align: sub;
}




/* Categories */
.categories-list {
	text-transform: uppercase;
	color: #777;	
}
.categories-list .categories-item { 
	padding: 5px;
	display: table;
}
.categories-list .categories-item i{
	vertical-align: middle;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 40px;
	font-size: 24px;
	color: #fff;
	line-height: 40px;
}
.categories-list .categories-item span{
	vertical-align: middle;
	display: table-cell;
	line-height: 100%;
	padding-left: 7px;
	font-size: 12px;
	color: #888;
	font-weight: 700;
	letter-spacing: 0;
	width: 100%;
	max-width: 191px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.categories-list .item-divider {
	font-weight: normal;
	text-transform: none;
	font-size: 16px;
	height: 51px;
	line-height: 32px;
	padding: 0;
	border: 0;
	background-color: transparent;
}
.categories-list .item-divider a{
	padding: 15px;	
	line-height: 20px;
	/*border-left-style: solid;
	border-left-width: 4px;*/
}

/* Big version*/
.categories-list.big  .categories-item i{
	font-size: 34px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.title .parent {
	color: rgba(255,255,255, .6);
	font-size: 17px; 
}
.title .parent i{
	margin: 0 6px;
	font-size: 24px;
	line-height: 20px;
	vertical-align: middle;
}

/*### SIDE MENU */
.menu {
	background-color: #F2F2F2;
}
.menu .bar-header {
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.menu .bar-header {
	height: 92px;
}

.menu a{
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 15px;
	/*
	border-left-style: solid;
	border-left-width: 4px;	*/
}
.menu .title {	
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,.7) !important;
	padding-top: 15px;
	height: 92px;
	font-size: 14px;
	line-height: 30px
}
.menu .has-header {
	top: 92px;
}
.menu .subtitle {
	color: #fff;
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	text-transform: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.menu .main-items .list {
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	z-index: 1000;
	border-bottom: 1px solid #000;
}
.menu .main-items .item-icon-left .icon , .categories-list  .item-icon-left .icon {
	left: 18px;
}
.menu .main-items .list:last-child {
	border-bottom: 0;
}
.menu .list .icon{
	font-size: 25px;
	width: 31px;
	text-align: center;
	color: #bbb;
}

.menu .item {
	padding-top: 0;
	padding-left: 40px;
	padding-bottom: 0;
	border: 0;		
}

.menu .categories-list .categories-item{	
	padding: 7px 12px; 	
	width: 100%;	
	background-color: transparent;
	border: 0;
}
.menu .categories-list .categories-item a{	
	background-color: transparent;
	border: 0;
}
.menu .categories-list .item-content{	
	background-color: transparent;
	border: 0;
	padding: 3px;
}


.menu label{
	background-color: transparent;
}
.menu input {
	background-color: transparent;
}
.menu .icon {
	font-size: 26px;
	padding-right: 10px;
}


/*### ESTILOS PORTADA */
.view-home .bar{
	/*background-color: rgba(255,255,255, 0) !important; */
	border: 0;
	width: auto;
}
.view-home .title {
	color: #fff;
	left: 39px;	
}
.view-home .scroll-content {
	overflow: visible !important;
	margin-top: -45px;	
}
.view-home .header-city {
	height: 212px;
	background-color: #8CE0F4;
	position: relative;
/*)	background-image: url(../img/city-vgb.jpg); */
	background-size: cover;
}
.header-city h3 {
	font-weight: 300;
	font-size: 28px;
	letter-spacing: -1px;
	text-align: center;
	color: rgba(255,255,255,1);
	position: absolute;
	bottom: 20px;
	left: 10px;
	right: 10px;
	text-shadow: 0 0 5px rgba(0,0,0,.7);
}
.header-city h3 span {
	font-size: 13px;
	margin-top: 5px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 40%;
	margin-left: 30%;
	text-shadow: none;
 }
.header-city .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,.7) 0%, rgba(0,0,0,.36) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,.7)), color-stop(100%,rgba(0,0,0,.36))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,.7) 0%,rgba(0,0,0,.36) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to top,  rgba(0,0,0,.7) 0%,rgba(0,0,0,.36) 100%); /* W3C */
}
.header-city .logo {
	width: 30%;
	display: block;
	margin-left: 35%;
	margin-bottom: 10px;
}
.header-city  .bottom-line {
	height: 3px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100% 100%;
	background-image: url(../img/cityline-vgb.png);
}

.home-categories .col {
	padding: 3px;
}
.home-categories .col .image{
	position: relative;
	height: 100px;
	background-color: rgba(255,255,255,.2);
}
.home-categories h3 {
	color: #fff;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 15px;
	margin: 0;
	opacity: .9;
	padding: 6px 0;
}
.home-categories i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	color: #fff;
	font-size: 26px;
	text-align: center;
	line-height: 50px;
	opacity: .9;
}


.section-buttons {
	background-color: rgba(0,0,0,.1);
}
.section-buttons .badge {
	left: 28px;
	top: 10px;
	right: auto;
	height: 19px;
	width: 19px;
	font-size: 13px;
	padding: 2px 6px;
}
.section-buttons .col {
	padding: 13px 10px 13px 50px;
	font-size: 14px;
	letter-spacing: -1px;
	line-height: 14px;
	color: #848484;
}
.section-buttons h6 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: uppercase;
	color: #777;
}
.section-buttons a{
	text-decoration: none;
	color: inherit;
	background-color: #000;
}
.section-buttons .item{
	background-color: transparent;
	border: 0; 
}
.section-buttons .icon {
	color: #aaa;
}
.view-home .list, .view-home .list .item {
	background-color: transparent;
	border: 0;
}

.view-home .promotions {
	height: 100px;
	background-color: #fff;	
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.promotions .slider-slide {
	background-color: #eee;
	position: relative;
}
.promotions .image{
	position: absolute;
	z-index: 35;
	left: 0;
	bottom: 0;
	top: 0; 
	width: 35%;
	background-size: cover;
	background-position: center;	
}
.promotions .category {
	position: absolute;
	z-index: 35;
	left: 0;
	top: 0; 
	bottom: 0;
	padding-top: 15px; 
	width: 30%;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #e2e2e2;
}
.promotions .category i{
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	font-size: 22px;
	border-radius: 38px;
	color: rgba(255,255,255,1);
}
.promotions .category p {
	margin: 0;
	font-weight: 700;
	font-size: 11px;
	margin-top: 5px;
	color: #666;
}
.promotions .info{ 
	position: absolute;
	z-index: 20;
	left: 30%;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	padding: 10px;
	background-color: #eee;
}
.promotions .info h2{ 
	font-size: 13px;
	color: #888;
	margin:  0 6px 0 0;
	letter-spacing: -1px;	
}
.promotions .info h1{ 
	font-size: 18px;
	color: #EC0F0F;
	margin:  0 6px 0 0;
	letter-spacing: -1px;	
}
.promotions .info p{
	color: #bbb;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	margin: 0;
	overflow: hidden;	
	letter-spacing: 0;
}
.promotions .overlay {
	z-index: 30;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 30px;
	background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,.16) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba255,255,255,1), color-stop(50%,rgba(255,255,255,.16))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,.16) 50%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,.16) 50%); /* W3C */
}
.promotions .categories-list {
	position: absolute;
	z-index: 50;
}
.promotions .icon-hot {
	z-index: 40;
	height: 25px;
	width: 25px;
	display: inline-block;
	left: 0;
	top: 0;
	color: #EC0F0F;
	font-size: 16px;
	line-height: 21px;
	text-align: center;	
}
.promotions .due {
	position: absolute;
	z-index: 40;
	bottom: 0;
	left: 0;
	height: 23px;
	width: auto;
	display: block;
	background-color: #E93E0C;
	color: #fff;
	padding: 0 10px 0 22px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 23px;
	text-align: center;	
}
.view-promotions .promotions .item {
	padding: 0;
}
.view-promotions .promotions .item h2{
	overflow: visible;
	text-overflow: initial;
	white-space: initial;
}
.view-promotions .promotions .category {
	background-color: transparent; 
	width: 34%;
	color: #fff;
	border-radius: 2px 0 0 2px; 
}
.view-promotions .promotions .category i {
	background-color: #fff;
}
.view-promotions .promotions .info {
	position: relative;
	background-color: #fff;
	z-index: 20;			
	padding: 10px;	
	left: 0;
	margin-left: 35%;
	border-bottom:  1px solid #eee;
}
.view-promotions .promotions .category p{
	font-size: 11px;
	font-weight: 700;
	margin-top: 5px;
	letter-spacing: 0;
	color: #fff;
}

.home-categories {
}
.home-categories .image{
	position: relative;
	background-position: center;
	background-size: cover;
	height: 100px;	
}
.home-categories h2{
	color: #fff;
	text-transform: capitalize;	
	font-weight: 300;
	font-size: 25px;
	letter-spacing: -1px;
	position: absolute;
	top: 30px;
	left: 15px;
	right: 15px;
	text-align: center;
	z-index: 1000;
}
.home-categories .icon {
	color: #fff;
	font-size: 30px;
	position: absolute;
	z-index: 1000;
	right: 10px;
	top: 50%;	
	margin-top: -15px;
}
.home-categories .overlay {
	z-index: 30;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,.16) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(255,255,255,1)), color-stop(20%,rgba(255,255,255,.5)), color-stop(66%,rgba(0,0,0,.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 20%, rgba(0,0,0,.5) 66%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to top,  rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 20%, rgba(0,0,0,.5) 66%); /* W3C */
}


/* LISTADO DE ADS*/
.ad-list .list {
	padding: 10px;
}
.ad-list h2 {
	font-size: 18px;
	color: #666;
	margin-top: 0;
	margin-bottom: 4px;
}
.ad-list h3 {
	font-size: 11px;	
	letter-spacing: 0;
	text-transform: uppercase;
	margin: 0;
	color: #aaa;
}
.ad-list .item-thumbnail-left, .ad-list  .item-thumbnail-left .item-content {
	padding-left: 133px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0;
	position: relative;
	margin-bottom: 1px;
	border-bottom: 1px solid #eee;
}
.ad-list .item-thumbnail-left > img:first-child, .ad-list  .item-thumbnail-left .item-image, .ad-list .item-thumbnail-left .item-content > img:first-child, .ad-list .item-thumbnail-left .item-content .item-image {
	top: 0;
	left: 0;
	max-width: 120px;
	max-height: 120px;
}
.ad-list .item-thumbnail-left, .ad-list .item-thumbnail-left .item-content {
	min-height: 93px;
	padding-right: 0;
}
.ad-list .image {
	background-size: cover;
	background-position: center;
	width: 120px;
	position: absolute;
	left: 0;
	top: 5px;
	bottom: 0;	
	max-height: 80px;
}
.ad-list .item .badge{
	right: auto;
	left: 10px;
	top: auto;
	bottom: 20px;
	font-size: 10px;
	letter-spacing: 0;
	text-transform: uppercase;
	padding: 1px 6px 0;
	border-radius: 2px;
}

/* ADS */
.view-ad .ad-image{
	height: 180px;
	background-color: #ccc;
	position: relative;
}

.view-ad .ad-image .slider {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	height: 180px;
}
.view-ad .ad-image .slider .image{
	height: 180px;	
	background-size: cover;
	background-position: center;
}
.view-ad .slider-pager .slider-pager-page {
	font-size: 11px;
	width: 10px;
	color: #fff;
	text-shadow: 0 0 2px rgba(0,0,0,.2);
}
.view-ad .slider-pager {
	text-align: left;
	padding-left: 15px;
}
.view-ad .ad-info{
	position: relative;
	padding: 17px 20px;
	box-shadow: 0 -5px 5px rgba(0,0,0,.2);
}
.view-ad .ad-info h4{
	margin: 0 0 0 0;
	font-size: 25px;
	font-weight: 300;
	letter-spacing: -1px;
	color: #fff;
}
.view-ad .ad-info h5{	
	margin: 5px 0 0 0;
	font-weight: 400;	
	text-transform: uppercase;
	font-size: 13px;
	color: rgba(255,255,255,.7);
}
.view-ad .ad-info h6{
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}
.view-ad p{
	padding: 15px 20px;
	color: #222;
	font-weight: 300;
}
.view-ad .angular-leaflet-map {
	height: 160px;
	margin-bottom: 10px;
}
.view-ad .ad-map-actions{
	padding: 20px;
	border-top: 1px solid #eee;
}
.view-ad .ad-map-actions p{
	padding: 0;
	margin: 0;
	line-height: 14px;
}
.view-ad .categories-list {
	position: absolute;
	right: 10px;
	top: -35px;
}
.view-ad .categories-list .categories-item{
	display: inline-block;
}
.view-ad .categories-list .categories-item i{
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.view-ad .ad-catinfo {
	padding: 20px 20px 0 20px;	
}
.view-ad .ad-catinfo span{
	font-weight: 600;
	color: #aaa;
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 1px 8px;
	font-size: 10px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 10px;
}

/* EVENTS */
.view-events  .item-body  {
	padding: 0;
	position: relative;
}
.view-events  .item-body  .image {
	height: 150px;
	background-size: cover;
	background-position: center;	
	border-radius: 3px 4px 0 0;
}
.view-events  .fecha {
	font-weight: 300;
	font-size: 15px;	
	color: #fff;
	text-transform: uppercase;
	width: 26%;	
	text-align: center;		
	float: right;
	position: relative;
	margin: 12px;
}
.view-events .ad-info .fecha {
	padding-left: 15px;
	margin-top:  0;
	margin-right: 0;
	border-left: 1px solid rgba(255,255,255,.6);
}
.view-events .fecha h4{ 
	font-size: 40px;
	font-weight: 300;
	line-height: 80%;
	margin: 3px 0 0 0 ;
	color: #fff;
	letter-spacing: -2px;
}
.view-events  .categories-list{
	top: -48px;
	right: 23px;
}
.view-events  .fecha .hour {
	display: block;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
}
.view-events .list .border {
	height: 5px;
}
.view-events .cost {
	font-size: 30px; 
	font-weight: 400;
	letter-spacing: -2px;
	border-radius: 80px;
	width: 80px;
	height: 80px;
	position: absolute;
	right: -8px;
	top: -30px;
	line-height: 27px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,.7);
	z-index: 1000;
}
.view-events .cost small {
	font-size: 9px;
	line-height: 10px;
	font-weight: bold;
	letter-spacing: 0;
	display: inline-block;
	text-transform: uppercase;
	color: rgba(255,255,255,.8);
}
.view-events  .info {
	padding: 0 10px;
}
.view-events  small {
	font-size: 12px;
	letter-spacing: -1px;
}
.view-events  h1.name {
	font-size: 22px;
	font-weight: 300;
	padding: 13px 0 0 0;
	margin: 0;
}
.view-events  .list {
	padding-bottom: 20px;
}
.view-events  .list p.title {
	margin: 0 10px;
}
.view-events  .list p {
	margin: 4px 0;
	line-height: 15px;
}
.view-events  p.address {
	color: #999;
	text-transform: uppercase;
	font-size: 13px;
	padding-top:0;
	padding-bottom: 0;
}
.view-events  i.location{
	font-size: 17px;
	line-height: 20px;	
	margin-right: 6px;
}
.view-events .ad-info {
	padding-bottom: 25px;
}
.view-events .ad-info h4 {
	font-size: 25px;
}

/* PLACES */
.view-places  .item-body  {
	padding: 0;
}
.view-places  .item-body  .image {
	height: 150px;
	background-size: cover;
	background-position: center;	
	border-radius: 3px 4px 0 0;
}
.view-places  .item-body  .overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 150px;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,.7) 0%, rgba(0,0,0,.16) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,.7)), color-stop(50%,rgba(0,0,0,.16))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,.7) 0%,rgba(0,0,0,.16) 50%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to top,  rgba(0,0,0,.7) 0%,rgba(0,0,0,.16) 50%); /* W3C */
}
.view-places  .item-body .icon{
	font-size: 25px;
	color: #aaa;	
	margin: 0 10px;
	background-color: #f4f4f4;
	border: 1px solid #E9E9E9;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50px;
	text-align: center;
	display: block;	
}
.view-places  .item-body p {
	margin: 0;
	padding: 6px 12px 12px 10px;
}
.view-places  .item-body p.title {
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	padding-top: 13px;
	padding-bottom: 35px	;
	margin-top: -55px;
	z-index: 1000;
	position: relative;
}
.view-places .list .border {
	height: 5px;
}
.view-places .overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,.9) 0%, rgba(0,0,0,.1) 55%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,.9)), color-stop(55%,rgba(0,0,0,.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,.9) 0%,rgba(0,0,0,.1) 55%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to top,  rgba(0,0,0,.9) 0%,rgba(0,0,0,.1) 55%); /* W3C */
}
.view-places .body {
	z-index: 2000;
	position: relative;
}
.view-places .icon-actions {
	position: absolute;
	right: 0;
	top: -82px;
	width: 80px;
}
.view-places .icon-actions span{
	display: block;	
}
.view-places .icon-actions i{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 30px;
	display: inline-block;	
	text-align: center;
	margin: 5px 0;
}
.view-places .ad-catinfo {
	padding-bottom: 20px; 
	border-bottom: 1px solid #eee;
}
.view-places .ad-catinfo span {
	color: #888;
	background-color: #eee;
}


.view-welcome {
	background-image: url(../img/welcome-background.jpg);
	background-size: 100%;
}
.view-welcome .logo {
	width: 50%;
	margin-left: 25%;
	margin-top: 40px;
	margin-bottom: 40px
}
.view-welcome h1 {
	font-size: 23px;	
	font-weight: 300;
	color: #fff;
	margin: 0;
	text-align: center;
}
.view-welcome h2 {
	font-size: 32px;	
	font-weight:300;
	text-align: center;
	color: #fff;
	margin: 0 0 20px 0;
}
.view-welcome p{
	border-top: 1px solid rgba(255,255,255,.6);
	padding-top: 20px;
	text-align: center;
	width: 70%;	
	margin-left: 15%;
	font-size: 17px;	
	font-weight: 300;
	color: #fff;
}
.view-welcome .bar-footer {
	height: 77px;
	padding-bottom: 0;
	background-color: transparent;
}


.cover-gallery, .cover-gallery .layout {
	position: relative;
	height: 280px;
}
.cover-gallery .row {
	padding: 0;
	margin: 0;
	height: 60%;
}
.cover-gallery .row:first-child {
	height: 40%;
}
.cover-gallery .layout-2 .row:first-child {
	height: 100%;
}

.cover-gallery .col{
	height: 100%;
	width: 100%;
	line-height: 0;
	padding: 1px;
	margin: 0;
	background-color: #fff;
}
.cover-gallery .image{
	line-height: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #ABCC48;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.cover-gallery .ad-info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1100;
	box-shadow: none;
}
.cover-gallery .ad-info h4{
	font-size: 28px;
}
.cover-gallery .ad-info h5{
	color: rgba(255,255,255,.8);
	margin-right: 100px;
}


.extra-info {
	border-bottom: 1px solid #eee;
}
.extra-info.bottom {
	border-bottom: 0;
	border-top: 1px solid #eee;	
}
.extra-info div  {
	text-align: center;
	font-weight: 300;
	
	font-size: 17px;
	letter-spacing: -1px;
	border-left: 1px solid #eee;
}
.extra-info div:first-child {
	border-left: 0;
} 
.extra-info div  i {
	display: block;
	
	font-size:22px; 
}
small{
	font-size: 11px;
	letter-spacing: 0;
	
	font-weight: 800;
	display: block;
	text-transform: uppercase;
}

